# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*.asm
*.dot
*.gcc_O0_instru
*.llvm_O0_instru
*.gcc_O0_instru-re
*.gcc_O0_instru-re_folded
*.gcc_O0_instru-re_folded_gr
*.gcc_O0_instru-re_folded_gr.zst
*.llvm_O0_instru-re
*.llvm_O0_instru-re_folded
*.llvm_O0_instru-re_folded_gr
*.llvm_O0_instru-re_folded_gr.zst
/spec_gcc/O1/
/spec_gcc/O2/
/spec_gcc/O3/
/spec_llvm/O1/
/spec_llvm/O2/
/spec_llvm/O3/
